#page {
    font-size: 20px;
    border: 1em outset #B0893B;
    font-weight: 900;
    color: white;
    background-image: url("../Images/The_Crow/The_Crow.jpg");
    background-color: orange;
    background-size: 100% 100%;
    }
#poem {
    width: 31em;
    text-indent: 3em;
    line-height: 1.5em;
    color: #E7FDFF;
    font-family: sans-serif;
    }
#poem > h1 {
    text-align: center;
    color: #F4C76C;
    }
#poem > h3 {
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    color: #322A1A;
    }
.quote {
    font-style: italic;
    letter-spacing: 2px;
    }
#poem u {
    text-decoration: none;
    border-bottom: 2px groove orange;
    }
#author {
    border-top: 10px double #B0893B;
    color: #F4C76C;
    }
#source {
    color: black;  
    }